<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Layout</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title" th:text="${post.title}"></h5>
                <strong>
                    <p class="text-danger" th:text="${post.user.username}"></p>
                </strong>
                <span th:text="${post.createdAt}"></span>
            </div>
            <div class="card-body">
                <p class="card-text" th:text="${post.content}"></p>
            </div>

            <!-- comment -->
            <div th:if="${not #lists.isEmpty(comments)}">
                <ul class="list-group list-group-flush">
                    <li th:each="comment : ${comments}" class="list-group-item">
                        <div class="d-flex justify-content-between">
                            <h6 class="mb-0 text-primary" th:text="${comment.user.name}"></h6>
                            <small th:text="${comment.createdAt}"></small>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="mb-0" th:text="${comment.content}"></p>
                            <!-- buttons -->
                            <div th:if="${ user != null && user.id == comment.user.id}">
                                <a class="btn btn-sm btn-warning me-1"
                                    th:href="@{/comment/edit/{id} (id=${comment.id}) }"><img src="/img/edit_comment.png"
                                        alt="edit_comment"></a>
                                <a class="btn btn-sm btn-danger me-1"
                                    th:href="@{/comment/delete/{id} (id=${comment.id}) }"><img
                                        src="/img/delete_comment.png" alt="delete_comment"></a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="card-footer">
                <form th:action="@{/comment/addComment}" method="post">
                    <div class="mb-3">
                        <input type="hidden" name="postId" th:value="${post.id}" />
                        <label for="content" class="form-label">Add a comment:</label>
                        <textarea class="form-control" id="content" name="content" rows="3"
                            autocomplete="off"></textarea>
                    </div>
                    <div class="text-end">
                        <button type="submit" class="btn btn-secondary">Comment</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>